<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name = "qa.runners.tc1Runner"/>
		  <class name = "qa.runners.tc2Runner"/>
		  <class name = "qa.runners.tc3Runner"/>
		  <class name = "qa.runners.tc4Runner"/>
		  <class name = "qa.runners.tc5Runner"/>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
